*{
    box-sizing: border-box;
}

body {
    background: black;
    font-family: Arial, Arial, Helvetica, sans-serif;
    margin: 0;
}

#div1 {
    align-items: center;
    background-color: lightgrey;
    border: 2px solid black;
    display: flex;
    height: 200px;
    justify-content: center;
    margin: 25px;
    width: 400px;
}

#div2 {
    align-items: center;
    background-color: lightgrey;
    border: 2px solid black;
    display: flex;
    height: 200px;
    justify-content: center;
    margin: 25px;
    width: 35px;
}